{{ "<!-- Contact Section -->" | safeHTML }}
<div class="container" id="contact">

	<div class="row">
		<div class="col-md-8">

			<section id="contact">
				{{ "<!-- Contact Markdown -->" | safeHTML }}
				
				{{ .Content }}
				
				{{ "<!-- Contact Form -->" | safeHTML }}
				
				<div class="heading">
					<h3>{{ i18n "contactForm" }}</h3>
				</div>

				<form class="contact-form" method="post" data-netlify="true" name="contact" action="/contact-success">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name">{{ i18n "contactName" }}</label>
								<input type="text" class="form-control" name="name" id="name" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email">{{ i18n "contactMail" }}</label>
								<input type="text" class="form-control" name="email" id="email" required>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="subject">{{ i18n "contactSubject" }}</label>
								<select id="subject" name="subject" class="form-control">
									{{ range .Site.Params.contact.subject }}
									<option>{{ . }}</option>
									{{ end }}
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="message">{{ i18n "contactMessage" }}</label>
								<textarea id="message" class="form-control" name="message" required></textarea>
							</div>
						</div>
						{{ if .Site.Params.contact.recaptcha }}
						<div class="col-sm-12">
							<div data-netlify-recaptcha="true"></div>
						</div>
						{{ end }}

						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ i18n "contactSend" }}</button>

						</div>
					</div>
					<!-- /.row -->
				</form>

			</section>

		</div>

		<div class="col-md-4">

			{{ if isset .Site.Params "address" }}
			<section>

				<h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

				{{ .Site.Params.address | safeHTML }}

			</section>

			{{ end }}

		</div>

	</div>
	<!-- /.row -->
</div>


{{ if .Site.Params.widgets.contact_map }}
{{ partial "map.html" . }}
{{ end }}
